# Python bytecode and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python Virtual Environments
.venv/
venv/
env/
ENV/

# PyCharm configuration folder
.idea/

# macOS system junk
.DS_Store

# Secret/Environment variables
.env
